.service {
    margin-top: 100px;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10% 100px 10%;
}
.service__item {
    margin-top: 80px;
    width: 25%;
    text-align: center;
}
.service__icon {
    width: 60px;
}
.service__title {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
}
.service__content {
    color: #928686;
    padding-top: 30px;
    font-size: 18px;
    width: 70%;
    margin: 0 auto;
}